<html>

<head>
    <title>Demo IT-Security Awareness</title>
    <meta charset="UTF-8">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <link href="assets/styles/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/styles/game.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id='content'>
        <% include includes/nav.html %>
        <% include includes/footer.html %>
        <main>
            <script type="text/javascript" src="scripts/game.js"></script>
        </main>
    </div>

</body>

</html>