<!DOCTYPE html>
<html>

<head>
    <title>Security Game - Login</title>
    <meta charset="UTF-8">
    <link href="assets/styles/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/styles/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id='content'>
    <% include includes/nav.html %>
    <% include includes/footer.html %>
    <main>
        <div id='nested'>
            <div id='left'>
                left
            </div>
            <div id='right'>
                <div id='login'>Login</div>
                <div id='scores'>Scores</div>
            </div>
        </div>
    </main>
    </div>
</body>
<!--
        <form id="login_form" method="POST" action="http://localhost:3001/login">
        <table align="center">
            <tr>
                <td colspan="2"><h1>Login</h1></td>
            </tr>
            <tr>
                <td colspan="2"><span class='error'><%= denied %></span></td>
            </tr>
            <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" value=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="Login"></td>
                <td align="right"></td>
            </tr>
        </table>
        </form>
-->
</html>