<!DOCTYPE html>
<html>

<head>
    <title>Security Game - Login</title>
    <meta charset="UTF-8">
    <link href="assets/styles/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id='wrapper'>
    <% include includes/nav.html %>
    <% include includes/footer.html %>
    <main>
        <div id='nested'>
            <div id='scores'>
                Scoreboard
            </div>
            <div id='right'>
                <div id='login'>
                    <form id="login_form" method="POST" action="http://localhost:3000/register">
                        <table class="login_table">
                            <tr>
                                <td colspan="2"><h3>To play the Security-Game please enter a username</h3></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class='<%= msg_type %>'><%= message %></span></td>
                            </tr>
                            <tr>
                                <td><label for="username">Username</label></td>
                                <td><input type="text" name="username" value=""></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="   Play   "></td>
                            </tr>
                        </table>
                        </form>
                </div>
                <div id=''>
                    empty tile
                </div>
            </div>
        </div>
    </main>
    </div>
</body>
</html>