<!DOCTYPE html>
<html>

<head>
    <title>Security Game - Login</title>
    <meta charset="UTF-8">
    <link href="assets/styles/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <% include includes/nav.html %>

    <main>
        <div id='wrapper'>
            <div id='scores'>
                <table class="scores">
                    <tr>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                    <% for(let i = 0; i < scores.length; i++) { %>
                    <tr>
                        <td><%= scores[i].user %></td>
                        <td><%= scores[i].score %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <div id='right'>
                <div id='login'>
                    <h3>To play the Security-Game please enter a username</h3>
                    <form id="login_form" method="POST" action="http://localhost:3000/register">
                        <table class="login_table">
                            <tr>
                                <td colspan="2"><span class='<%= msg.type %>'><%= msg.content %></span></td>
                            </tr>
                            <tr>
                                <td><label for="username">Username</label></td>
                                <td><input type="text" name="username" placeholder="Username"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="   Play   "></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id=''>
                    empty tile
                </div>
            </div>
        </div>
    </main>
    <% include includes/footer.html %>
</body>

</html>