#content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax( 0px, auto);
    max-width: 100%;
    margin: 0;
    grid-template-areas:
        "nav nav nav"
        ". main ."
        ". main ."
        "footer footer footer";
}
#content > *{
    padding: 5px;
}
main{
    grid-area: main;
    background-color: limegreen;
    min-height: 100px;
}
nav{
    grid-area: nav;
}
footer{
    grid-area: footer;
}