<!DOCTYPE html>
<html>

<head>
    <title>Security Game - About</title>
    <meta charset="UTF-8">
    <link href="assets/styles/about.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id='wrapper'>
        <% include includes/nav.html %>
        <% include includes/footer.html %>
        <main>
            404: <%= file %> not found
        </main>
    </div>
</body>

</html>