<mat-toolbar class="fixed-header" color="primary">
  <mat-toolbar-row>
      <span class="spacer"></span>
      <span>
          <a routerLink="">
              <button mat-button>
                <mat-icon>home</mat-icon>Home
              </button>
          </a>
          <a routerLink=""><button mat-button>Contact</button></a>
          <a routerLink=""><button mat-button>Help</button></a>
          <a routerLink=""><button mat-button>About</button></a>
      </span>
      <span class="spacer"></span>
  </mat-toolbar-row>